<?xml version='1.0' encoding='utf-8'?>
<widget id="com.netbrick.chattycrow" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChattyCrow</name>
    <description>
      A sample Chatty Crow application.
    </description>
    <author email="dev@chattycrow.com" href="https://chattycrow.com">
        ChattyCrow Team.
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <platform name="ios">
        <splash height="1136" src="res/screens/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1136" src="res/screens/ios/Default-Landscape@2x~ipad.png" width="640" />
        <splash height="1136" src="res/screens/ios/Default-Landscape~ipad.png" width="640" />
        <splash height="2048" src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="res/screens/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="res/screens/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" src="res/screens/ios/Default~iphone.png" width="320" />
    </platform>
    <platform name="Win32NT">
        <splash height="480" src="res/screens/windows-phone/screen-portrait.png" width="320" />
    </platform>
    <platform name="android">
        <splash density="port-xhdpi" height="1280" src="res/screens/android/screen-xhdpi-portrait.png" width="720" />
        <splash density="land-xhdpi" height="720" src="res/screens/android/screen-xhdpi-landscape.png" widht="1280" />
        <splash density="port-mdpi" height="1280" src="res/screens/android/screen-mdpi-portrait.png" width="720" />
        <splash density="land-mdpi" height="320" src="res/screens/android/screen-mdpi-landscape.png" width="480" />
        <splash density="port-ldpi" height="320" src="res/screens/android/screen-ldpi-portrait.png" width="200" />
        <splash density="land-ldpi" height="200" src="res/screens/android/screen-ldpi-landscape.png" width="320" />
        <splash density="port-hdpi" height="800" src="res/screens/android/screen-hdpi-portrait.png" width="480" />
        <splash density="land-hdpi" height="480" src="res/screens/android/screen-hdpi-landscape.png" width="800" />
    </platform>
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="3.6.3" />
    <feature name="PushPlugin">
        <param name="id" value="com.phonegap.plugins.PushPlugin" />
    </feature>
    <feature name="BarcodeScanner">
        <param name="id" value="com.phonegap.plugins.barcodescanner" />
    </feature>
    <feature name="SpinnerDialog">
        <param name="id" value="hu.dpal.phonegap.plugins.SpinnerDialog" />
        <param name="url" value="https://github.com/Paldom/SpinnerDialog.git#:." />
    </feature>
    <feature name="Console">
        <param name="id" value="org.apache.cordova.console" />
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device" />
    </feature>
    <feature name="Notification">
        <param name="id" value="org.apache.cordova.dialogs" />
    </feature>
    <feature name="Geolocation">
        <param name="id" value="org.apache.cordova.geolocation" />
    </feature>
    <feature name="Splashscreen">
        <param name="id" value="org.apache.cordova.splashscreen" />
    </feature>
    <feature name="StatusBar">
        <param name="id" value="org.apache.cordova.statusbar" />
    </feature>
</widget>
