<?xml version='1.0' encoding='utf-8'?>
<widget id="com.netbrick.chattycrow" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChattyCrow</name>
    <description>
      A sample Chatty Crow application.
    </description>
    <author email="dev@chattycrow.com" href="https://chattycrow.com">
        ChattyCrow Team.
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <preference name="SplashScreen" value="foo" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="3.6.3" />

    <feature name="Console">
        <param name="id" value="org.apache.cordova.console" />
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device" />
    </feature>
    <feature name="Notification">
        <param name="id" value="org.apache.cordova.dialogs" />
    </feature>
    <feature name="Geolocation">
        <param name="id" value="org.apache.cordova.geolocation" />
    </feature>
    <feature name="Splashscreen">
        <param name="id" value="org.apache.cordova.splashscreen" />
    </feature>
    <feature name="StatusBar">
        <param name="id" value="org.apache.cordova.statusbar" />
    </feature>
    <feature name="PushPlugin">
        <param name="id" value="com.phonegap.plugins.PushPlugin" />
    </feature>
</widget>
