.card(style="padding: 0.3rem;")
  form#loginForm
    label(for="email") Email:
    input(type="text", id="email", value="{{ lastEmail }}")

    label(for="password") Password:
    input(type="password", id="password")

    button.btn.btn-positive.btn-block#startCheck Check

#informations(style='display: none;')
