ul.table-view
  mixin link(id, title, info, image, href)
    li.table-view-cell.media
      a(onclick= href ? 'window.location.hash = \''+href+'\'' : '', id=id, class= (id != 'sendPosition') ? 'navigate-right' : '')
        if id == 'history'
          .span.badge#badgeCount {{ history.pushesCount }}

        .media-object.pull-left.menu-image(class=image)
        .media-body
          = title
          p= info

  +link('account', 'Account', 'Account informations', 'account', 'account')
  +link('sendPosition', 'Send position', 'Current position', 'position', '')
  +link('history', 'Push history', 'History of pushes', 'history', 'history')
  +link('settings', 'Settings', 'Server settings', 'settings', 'settings')
  +link('informations', 'Informations', 'App informations', 'informations', 'informations')

  li.table-view-divider Push ID
  li.table-view-cell#pushId {{#if pushId }}{{ pushId }}{{ else }}none{{/if}}
  li.table-view-cell
    a#registerAgain
      .media-object.pull-left.menu-image.register
      .media-body
        | Register
        p Register push again
