.card(style="padding: 20px;")
  h3 Informations

  p.
    This application was created for purposes of KIV/MKZ by Jan Strnadek. Basic purposes is to accept pushes on three major platforms:

  ul
    li iOS
    li Android
    li WP8

  p.
    This application was created with open-source or licence free technologies:

  ul
    li Apache Cordova
    li Ratchet
