doctype html
html(lang='en')
  head
    title ChattyCrow
    meta(charset='utf-8')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='white')

    //- Inject CSS
    // ui:css
    // endinject
    // app:css
    // endinject
    // bower:css
    // endinject

  body
    header.bar.bar-nav
      a#backButton.icon.icon-left-nav.pull-left(style="display: none", href="#")

      .title
        .title-content
          span.title-image.text-first(style='opacity: 1.0') ChattyCrow
          span.title-image.text-second(style='opacity: 0.0') ChattyCrow

    .content.scrollable

    nav.bar.bar-tab
      a#aboutBtn.tab-item(href='#') About
      a#licenseBtn.tab-item(href='#') License

    //- Include templates jade files
    script#home-tpl(type='text/template')
      .scroll
        include jade/home.jade

    script#account-tpl(type='text/template')
      .scroll
        include jade/account.jade

    script#informations-tpl(type='text/template')
      .scroll
        include jade/informations.jade

    script#settings-tpl(type='text/template')
      .scroll
        include jade/settings.jade

    script#history-tpl(type='text/template')
      .scroll
        include jade/history.jade

    //- Inject JS
    script(src="cordova.js")

    // bower:js
    // endinject
    // ui:js
    // endinject
    // app:js
    // endinject
    // main:js
    // endinject
